firefox/.mozilla/firefox/main.default/.parentlock
firefox/.mozilla/firefox/main.default/AlternateServices.txt
firefox/.mozilla/firefox/main.default/ClientAuthRememberList.txt
firefox/.mozilla/firefox/main.default/SecurityPreloadState.txt
firefox/.mozilla/firefox/main.default/SiteSecurityServiceState.txt
firefox/.mozilla/firefox/main.default/autofill-profiles.json
firefox/.mozilla/firefox/main.default/bookmarkbackups/
firefox/.mozilla/firefox/main.default/broadcast-listeners.json
firefox/.mozilla/firefox/main.default/compatibility.ini
firefox/.mozilla/firefox/main.default/containers.json
firefox/.mozilla/firefox/main.default/content-prefs.sqlite
firefox/.mozilla/firefox/main.default/cookies.sqlite-wal
firefox/.mozilla/firefox/main.default/crashes/
firefox/.mozilla/firefox/main.default/datareporting/
firefox/.mozilla/firefox/main.default/enumerate_devices.txt
firefox/.mozilla/firefox/main.default/favicons.sqlite-wal
firefox/.mozilla/firefox/main.default/gmp-gmpopenh264/
firefox/.mozilla/firefox/main.default/lock
firefox/.mozilla/firefox/main.default/logins-backup.json
firefox/.mozilla/firefox/main.default/notificationstore.json
firefox/.mozilla/firefox/main.default/pkcs11.txt
firefox/.mozilla/firefox/main.default/places.sqlite-wal
firefox/.mozilla/firefox/main.default/protections.sqlite
firefox/.mozilla/firefox/main.default/security_state/
firefox/.mozilla/firefox/main.default/serviceworker.txt
firefox/.mozilla/firefox/main.default/sessionCheckpoints.json
firefox/.mozilla/firefox/main.default/sessionstore-backups/
firefox/.mozilla/firefox/main.default/signedInUser.json
firefox/.mozilla/firefox/main.default/storage-sync-v2.sqlite
firefox/.mozilla/firefox/main.default/storage-sync-v2.sqlite-shm
firefox/.mozilla/firefox/main.default/storage-sync-v2.sqlite-wal
firefox/.mozilla/firefox/main.default/storage.sqlite
firefox/.mozilla/firefox/main.default/storage/
firefox/.mozilla/firefox/main.default/times.json
firefox/.mozilla/firefox/main.default/weave/
firefox/.mozilla/firefox/main.default/webappsstore.sqlite
firefox/.mozilla/firefox/main.default/webappsstore.sqlite-wal
firefox/.mozilla/firefox/main.default/xulstore.json
firefox/.mozilla/firefox/main.default/saved-telemetry-pings/
firefox/.mozilla/firefox/main.default/sessionstore.jsonlz4
firefox/.mozilla/firefox/main.default/activity-stream.discovery_stream.json
firefox/.mozilla/firefox/main.default/addonStartup.json.lz4
firefox/.mozilla/firefox/main.default/addons.json
firefox/.mozilla/firefox/main.default/cert9.db
firefox/.mozilla/firefox/main.default/cert_override.txt
firefox/.mozilla/firefox/main.default/cookies.sqlite
firefox/.mozilla/firefox/main.default/extension-preferences.json
firefox/.mozilla/firefox/main.default/extension-settings.json
firefox/.mozilla/firefox/main.default/extensions.json
firefox/.mozilla/firefox/main.default/extensions/
firefox/.mozilla/firefox/main.default/favicons.sqlite
firefox/.mozilla/firefox/main.default/formhistory.sqlite
firefox/.mozilla/firefox/main.default/gmp-widevinecdm/
firefox/.mozilla/firefox/main.default/gmp/
firefox/.mozilla/firefox/main.default/handlers.json
firefox/.mozilla/firefox/main.default/key4.db
firefox/.mozilla/firefox/main.default/logins.json
firefox/.mozilla/firefox/main.default/permissions.sqlite
firefox/.mozilla/firefox/main.default/personality-provider/
firefox/.mozilla/firefox/main.default/places.sqlite
firefox/.mozilla/firefox/main.default/prefs.js
firefox/.mozilla/firefox/main.default/search.json.mozlz4
firefox/.mozilla/firefox/main.default/shield-preference-experiments.json
